.main{
    display:flex;
    height: 100vh;
}

.imgMain{
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url(../assets/carretera.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}
.formMain{
    display:flex;
    justify-content: center;
    align-items: center;
}
.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 30rem;
    border-radius: 20px;
    border:2px solid black;
    box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.5);
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-color:white;
}
.bttnLogin{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 94, 0);
   
}   
.signUp{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.password{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
input{
    width: 80%;
}
.passwordInput{
    margin-left: 25px;
}
.bttnLogin:hover{
    cursor: pointer;
    background-color: rgb(255, 162, 0)
}

