.navBarWrapper{
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 191, 158);
}

.logo{
 width: 60vw;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(255, 162, 0);
}

.logoSvg{
    height:3rem;
    width: 3rem;
    text-decoration: none;
}

.listNav{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
.ml{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.userLogo{
    height:3rem;
    width: 3rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-left:-50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
    z-index: 1;
  }

  .dropdown-content p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbardiv:hover{
    background-color: rgb(249, 218, 187);
    cursor: pointer;
    text-decoration: none;
  }
  .dropdown-content p:hover {
    background-color: rgb(249, 218, 187);
  }
