.navBarWrapper{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.logo{
 width: 60vw;
 height: 50px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(255, 94, 0);
}


.logoSvg{
    width: 50px;
    margin-top:10px;
   }

.listNav{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.ml{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
